.books-list{
    -fx-spacing: 40;
    -fx-background-color:#d1e8e2;
    -fx-alignment: center;
}

.books-list Text{
    -fx-fill: #d9b08c;
    -fx-font-size: 2em;
}

.books-list-container{
    -fx-alignment: center;
    -fx-background-color: #d1e8e2;
}

/* .books-list-list{
    -fx-background-color: #d1e8e2;
} */

.books-list Button{
    -fx-background-color: #ffcb9a;
    -fx-text-fill: #2c3531;
    -fx-pref-width: 120;
    -fx-pref-height: 30;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, black, 2,0,0,4);
}


.books-list Button:hover{
    -fx-cursor: hand;
}