.book-container{
    -fx-background-color: transparent;
    -fx-background-radius: 10;
}


.book-container-vbox{
    -fx-background-color: #2c3531;
    -fx-spacing: 4;
    -fx-background-radius: 10;
    -fx-padding: 2;
}

.book-container-vbox Label{
    -fx-font-size: 0.9em;
    -fx-text-fill: #ffcb9a;
}

.book-container Button{
    -fx-background-color: #ffcb9a;
    -fx-text-fill: #2c3531;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, black, 1,0,0,2);
}


.books-list Button:hover{
    -fx-cursor: hand;
}