.register-container{
    -fx-background-color: #116466 ;
}

.register-logo-container{
    -fx-alignment: center;
    -fx-background-color: #116466 ;
}

.register-logo-container Text{
    -fx-font-size: 2em;
    -fx-fill: #d9b08c;
}


.register-form-container{
    -fx-spacing: 6;
    -fx-alignment: top_left;
}


.input-field{
    -fx-background-color: white;
    -fx-pref-height: 35;
    -fx-font-size: 1.2em;
}

.register-form-container Button{
    -fx-background-color: #d9b08c;
    -fx-text-fill: white;
    -fx-pref-height: 30;
    -fx-pref-width: 350;
    -fx-font-size: 1.2em;
}

.register-form-container Button:hover{
    -fx-cursor: hand;
}

.error_lbl{
    -fx-text-fill: rgb(150, 25, 25);
}